<div class="pokedex-container">
  <h2>Register New Pokemon</h2>

  <form [formGroup]="pokemonForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Pokemon Name:</label>
      <input type="text" id="name" formControlName="name" />
    </div>

    <div class="form-group">
      <label for="type">Type:</label>
      <input type="text" id="type" formControlName="type" />
    </div>

    <div class="form-group">
      <label for="level">Level:</label>
      <input type="number" id="level" formControlName="level" />
    </div>

    <div class="form-group">
      <label for="nature">Nature:</label>
      <input type="text" id="nature" formControlName="nature" />
    </div>

    <button type="submit">Catch Pokemon</button>

  </form>

  <h3>Current Pokedex</h3>

  <div class="pokemon-grid">
    @for (p of pokemonService.pokemonList(); track p._id) {
      <div class="pokemon-card">
        <strong>{{ p.name }}</strong>
        <p>Lvl {{ p.level }}</p>
        <p>{{ p.type }} | {{ p.nature }}</p>
      </div>
    }
  </div>
</div>